.ib{
    display: inline-block;
}
.status{
    text-align: center;
}
.papan{
    padding: 0;
    background: url(assets/table_blackjack.png);
    background-repeat: no-repeat;
    background-size: 1024px 613px;
    width: 1024px;
    height: 613px;
    margin: 0 auto;
}
.kartu{
    position: relative;
    width: 62px;
    height: 84px;
}
#player1{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: 48%;
    left: 25%;
}
#player2{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: 55%;
    left: 36%;
}
#player3{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: 58%;
    left: 48%;
}
#player4{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: 55%;
    left: 60%;
}
#player5{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: 48%;
    left: 70%;
}
.player1{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: -25%;
    left: -25%;
    padding: 50px;
    text-align: center;
    color: red;
    font-weight: bold;
}
.player2{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: -25%;
    left: -25%;
    padding: 50px;
    text-align: center;
    color: red;
    font-weight: bold;
}
.player3{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: -25%;
    left: -25%;
    padding: 50px;
    text-align: center;
    color: red;
    font-weight: bold;
}
.player4{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: -25%;
    left: -25%;
    padding: 50px;
    text-align: center;
    color: red;
    font-weight: bold;
}
.player5{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: -25%;
    left: -25%;
    padding: 50px;
    text-align: center;
    color: red;
    font-weight: bold;
}
.player1s{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: -25%;
    left: -25%;
    padding: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.player2s{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: -25%;
    left: -25%;
    padding: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.player3s{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: -25%;
    left: -25%;
    padding: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.player4s{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: -25%;
    left: -25%;
    padding: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.player5s{
    position: absolute;
    display: inline-block;
    /* border: 1px solid black; */
    top: -25%;
    left: -25%;
    padding: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.kotak1{
    position: absolute;
    display: none;
    /* border: 1px solid black; */
    top: 70%;
    left: 42%;
    padding:20px 30px;
    background-color: limegreen;
    border-radius: 5px;
    color: black;
}
.kotak2{
    position: absolute;
    display: none;
    /* border: 1px solid black; */
    top: 70%;
    left: 55%;
    padding:20px 30px;
    border-radius: 5px;
    background-color: red;
    color: black;
}
#startbtn{
    background-color: black;
    color: white;
    border-radius: 4px;
    padding:1px 7px;
}
#resetbtn{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding:1px 7px;
}
/* .tulisan{
    vertical-align: middle;
} */